textarea {
  margin: auto;
  display: block;
  border-radius: 20px;
  padding: 30px;
  margin-top: 120px;
  background-color: #b0e3f7;
}

button {
  margin: auto;
  width: 140px;
  height: 80px;
  font-size: 24px;
  display: block;
  border-radius: 20px;
  background-color: #e6c1e5;
}

button:hover {
  background-color: #e68181;
}

body {
  background-color: #c8ecfa;
}
